.layout{
    .amView{
        width: 80%;
        padding: 0 10%;
        transform: translateY(4px);
    }
    footer{
        p{
            color:white;
            text-align:center;
            margin: 0;
            padding: 10px ;
        }
        background:#3870DF;
    }
}